<div class="search">
    <form class="ui-form">

        <div class="row">
            <div class="control-group">
                <label class="control-label">查询条件：</label>
                <div class="controls">
                    <select name="condition" class="easyui-combobox">
                        <option value="1" selected>用户名称</option>
                        <option value="2">档案编号</option>
                        <option value="3">手机号码</option>
                        <option value="4">档案标识</option>
                        <option value="5">表号</option>
                        <option value="6">卡号</option>
                        <option value="7">地址</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <input class="easyui-textbox" name="explain" data-options="prompt:'查询条件'" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="control-group">
                <label class="control-label">用户类型：</label>
                <div class="controls">
                    <select name="userType" class="easyui-combobox">
                        <option selected value="">请选择</option>
                        <option value="TYPE1">类型1</option>
                        <option value="TYPE2">类型2</option>
                        <option value="TYPE3">类型3</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">表具类型：</label>
                <div class="controls">
                    <select name="meterType" class="easyui-combobox" style="width:200px">
                        <option selected value="">请选择</option>
                        <option value="TYPE1">类型1类型1类型1类型1</option>
                        <option value="TYPE2">类型2</option>
                        <option value="TYPE3">类型3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="control-group">
                <label class="control-label">时间区间：</label>
                <div class="controls"><input type="text" class="easyui-datebox"
                                             data-options="prompt:'起始日期', sharedCalendar:'#J_cc'"/></div>
                <label class="control-label" style="width:24px;">至</label>
                <div class="controls"><input type="text" class="easyui-datebox"
                                             data-options="prompt:'结束日期', sharedCalendar:'#J_cc'"/></div>
            </div>
            <div class="control-group">
                <label class="control-label">用气量区间：</label>
                <div class="controls"><input class="easyui-textbox" style="width:48px;" data-options="prompt:'起始量'" /></div>
                <label class="control-label" style="width:24px;">至</label>
                <div class="controls"><input class="easyui-textbox" style="width:48px;" data-options="prompt:'结束量'" /></div>
            </div>
            <div id="J_cc" class="easyui-calendar"></div>
        </div>

        <div class="row">
            <div class="control-group">
                <label class="control-label">用气价格：</label>
                <div class="controls">
                    <select name="" class="easyui-combobox">
                        <option selected value="">请选择</option>
                        <option value="TYPE1">类型1</option>
                        <option value="TYPE2">类型2</option>
                        <option value="TYPE3">类型3</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">所属机构：</label>
                <div class="controls">
                    <input class="easyui-combotree" name="organization" value="122"
                    data-options="prompt:'所属机构',
                                url:'/home/combotree.json',
                                method:'get'"
                                style="width:200px;">
                </div>
            </div>
            <div class="control-group fn-ml30">
                <!--<span class="button button-white button-search">
                    <input class="button-text" type="submit" value="查询"/>
                    <span class="button-icon"></span>
                </span>-->
                <div class="controls">
                    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">查询</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="content">
    <table id="tt" class="easyui-datagrid"
           url="/home/datagrid"
           title=""
           pagination="true"
           toolbar="#tb">
        <thead>
            <tr>
                <th field="itemid" width="200">序号</th>
                <th field="productid" width="200">用户名称</th>
                <th field="listprice" width="200">业务类型</th>
                <th field="unitcost" width="100" align="right">金额</th>
                <th field="attr1" width="100">气量</th>
                <th field="status" width="100">单价</th>
                <th field="status121" width="100">当前账户余额</th>
                <th field="status12221" width="200">操作时间</th>
            </tr>
        </thead>
    </table>
    <div id="tb">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true">导入</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-print" plain="true">打印</a>
    </div>
</div>

