<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>$!ui.title</title>
    	## 配置css
        #SLITERAL($!ui.css)
        #SLITERAL($!ui.__style)
        ## seajs配置本地化
        <script charset="utf-8" src="/assets/sea.js"></script>
        <script charset="utf-8" src="/assets/seajs-style/1.0.2/seajs-style.js"></script>
        <script src="/assets/jquery-1.11.1.min.js"></script>
        <script charset="utf-8" src="/assets/jquery-ui/1.4.2/easyloader.js"></script>
        <script>
            easyloader.base = '../assets/jquery-ui/1.4.2/'; // 设置 easyui 的基本目录
            seajs && seajs.config({
                base : '/assets',
                /*paths: {
                 assets: '/assets'
                 },*/
                alias : {
                    '$' : 'jquery-1.11.1'
                },
                charset : 'utf-8'
            });
        </script>
    </head>
    <body>
    <div style="padding:30px 20px">